name: Deploy to Fly

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["CI/CD"]
    types: [completed]

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
        with:
          version: 0.4.1
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
